{% extends "base.html" %} {% block title %}About | jeff-mitchell-dev{% endblock
%} {% block content %}
<section>
  <h2>About Me</h2>
  <br />
  <img
    src="assets/images/about/about_me.jpg"
    alt="photo of the author taken in 2017 at Bow Lake, Alberta"
  />
  <br />
  <article>
    <p>
      Hello, I'm Jeff. I'm a professional engineer by day and an up-and-coming
      software developer by night. I live in Vancouver, Canada. Welcome to my
      corner of the World Wide Web.
    </p>
    <br />
    <p>
      I grew up around computers and cut my teeth coding in SMARTBasic on the
      Coleco ADAM computer system. After a work term with IBM in the fall of
      1992, I fell in love with the PC world and was gifted a computer for my
      birthday in 1993. In University, I learned how to code in Turbo Pascal,
      with a little C thrown in for good measure. In the mid to late nineties, I
      embraced the World Wide Web and made my first very simple websites. Most
      of what I make for the web now looks like it came from that era, but I
      digress...
    </p>
    <br />
    <p>
      My day job doesn't involve software development, so I drifted away from
      programming for a long number of years. At the end of 2020, in the dark
      hours of COVID, I decided I wanted to pick up coding again, mainly to
      skill stack and make myself a more capable person.
    </p>
    <br />
    <p>
      I started with C++, but quickly realized (I sort of already knew) that it
      was a harsh mistress and I would never be truly confident with it. I also
      want to create things to view and consume on the web. As a fledgling,
      solo-developer, I needed something better...and I knew I just didn't want
      to be the billionth person learning JavaScript. Enter Rust. Rust is a
      language which enables people to build reliable and efficient software. I
      fell in love almost immediately with this notion. Rust, combined with
      traditional web tech, enables me to develop things and help people. I hope
      you enjoy my writing and that it benefits you in your own journey!
    </p>
  </article>
</section>
{% endblock %}
