{% extends "base.html" %} {% block title %}Games | jeff-mitchell-dev{% endblock
%} {% block content %}
<section>
  <article>
    <h2>Homeworld 3</h2>
    <h3>2024-05-13 Day 1</h3>
    <p>
      Played through the basic intro tutorial. Feels familiar, yet new and
      fresh. The graphics are simply stunning. I'm very happy to see there are
      difficulty levels and the ability to pause during the game. I finished the
      original Homeworld, but never finished Homeworld 2, which I found
      enormously difficult and unbalanced. We'll see how well I do with
      Homeworld 3.
    </p>
    <br />
    <p>
      I fear multibeam frigates though...I worry that they are a unit without a
      counter, resulting in unbalanced gameplay. Time will tell.
    </p>
  </article>
  <br />
  <article>
    <h2>Homeworld 3</h2>
    <h3>2024-05-14 Day 2</h3>
    <p>
      Finished the tutorial. Many old concepts, some new ones to practice.
      Struggling a little with issuing orders to units and having them actually
      follow through. The game has a new turret unit type. You can launch them
      and have them attach to surfaces (asteroids, etc) to guard an area. I love
      the art and the graphics, such a leap over the original games. So far I'm
      running smoothly on my NVIDIA 2070 Super graphics card.
    </p>
    <br />
    <p>
      Started the campaign missions on Easy mode. I tend to get frustrated
      easily (unfortunately), so I just want to play through the story first and
      not get my butt kicked. The first mission is really an extension of the
      tutorial, guide our mothership, the Khar-Kushan through a series of trials
      to work out the kinks and get it space worthy. The banter amongst the crew
      is fun. At the end, Higaaran high command informs us that, with nothing by
      a half-ready ship and a plucky can-do attitude, we have to go out into the
      galazy to figure out who or what has weaponized hyperspace, with sinister
      plans to destroy the known universe. I've never understood the notion of
      destroying the known universe...starting over is overrated, but I
      digress...
    </p>
    <br />
    <p>
      I saved at the beginning of the 2nd mission. Our computer/human commander,
      Imogen S&apos;Jet, after a slightly odd trip through hyperspace, has
      guided us to a place where we can finish the Khar-Kushan by adding a
      production module. This is just a little bit important because you
      can&apos;t build a fleet with out it. More to come...
    </p>
  </article>
  <br />
  <article>
    <h2>Homeworld 3</h2>
    <h3>2024-05-15 Day 3</h3>
    <p>
      Finished the first mission and managed to get the Khar-Kushan it's
      production module. It was a little touch and go, and I'm not sure I left
      the mission with the right fleet balance. Can always replay.
    </p>
    <br />
    <p>
      Made it to Mission 2, which involves repairing a hyperspace gate which
      will allow a jump directly to Noctua-27, our main objective. Noticing a
      trend from the original games. Regardless of how much the chatter is,
      delay the mission objectives and build. This is a numbers game and I can
      see already it's essential to have more than the opponent. I think there
      may still be timers and triggers, but hopefully by not going after them
      right away, they'll be delayed. Having some difficulty with navigation and
      movement, more practice is needed. I also need to remember that you can
      pause.
    </p>
  </article>
</section>
{% endblock %}
