{% extends "base.html" %} {% block title %}Home | jeff-mitchell-dev{% endblock
%} {% block content %}
<section>
  <h2>Hey, I&apos;m Jeff!</h2>
  <article>
    <p>
      I&apos;m a self-taught developer, IT generalist and junkie, and all around
      old school metaller. Welcome to my site! This site is somewhat of a
      mix-tape/reflection of myself.
    </p>
    <br />
    <p>
      Here on my site you&apos;ll find my thoughts about programming languages
      and software development in general. I mostly like Rust, but will explore
      and write about other languages from time to time. I&apos;ll also write
      about my love of heavy metal music, which hopefully might influence
      exploration of your own. On the Photography page you'll find an ever
      growing gallery of photos. I&apos;ve been known to be dangerous with a
      camera sometimes and I need a place to display my work. The Projects page
      will contain a bit of a dive into whatever mini-project I&apos;m fiddling
      about with.
    </p>
    <br />
    <p>
      The information on this site will always be free. There will never be ads
      and I will never ask for personal information. I want to see the internet
      returned to the fun, interesting, and diverse place it used to be. I do
      use
      <a href="https://statcounter.com" target="_blank" rel="noreferrer"
        >Statcounter</a
      >, which gives me a sense of who&apos;s coming here.
    </p>
  </article>
  <br />
  <h2>What's Good on the Web?</h2>
  <article>
    <p>
      <a href="https://www.lpalmieri.com/" target="_blank" rel="noreferrer"
        >Luca Palmieri</a
      >, author of
      <a href="https://www.zero2prod.com/" target="_blank" rel="noreferrer"
        >Zero to Production in Rust</a
      >
      and Principal Engineering Consultant at
      <a href="https://mainmatter.com/" target="_blank" rel="noreferrer"
        >Mainmatter</a
      >, developed a "learn by doing" introductory Rust course. You can find the
      link to it here:
      <a href="https://rust-exercises.com/" target="_blank" rel="noreferrer"
        >100 Exercises to Learn Rust</a
      >
    </p>
  </article>
  <br />
  <article>
    <p>
      I struggle a lot with writing. The reason why became apparent to me after
      I read this article:
      <a href="https://writinghabit.com/" target="_blank" rel="noreferrer"
        >How to Build a Writing Habit</a
      >
    </p>
  </article>

  <br />
  <h2>What Did I Learn This Week?</h2>
  <article>
    <p>
      In typical fashion for me, when I can&apos;t figure out something hard, I
      bounce to something else. This past week the something else was Luca
      Palmieri&apos;s
      <a
        href="https://github.com/LukeMathWalker/pavex"
        target="_blank"
        rel="noreferrer"
        >Pavex</a
      >
      web framework. I&apos;ve been part of the closed beta for a few months. I
      sat down and attempted to redo the Shuttle Christmas Code Hunt exercises
      with Pavex, but ended up not getting far and I drifted off to other
      things. Luca has steadily released updates to Pavex and so I thought it
      was a good time to revist it. I set about to re-create this site, a
      version 2.0 if you will. Progress is slow, and I may not finish, but
      it&apos;s a good way of learning Pavex. I don&apos;t plan on switching
      away from the current iteration of this site immediately, but instead will
      use the Pavex version as a further learning ground.
    </p>
  </article>
  <br />
  <h2>Rust Crate Highlight</h2>
  <article>
    <p>
      The crate highlight for the week is
      <a href="https://crates.io/crates/just" target="_blank" rel="noreferrer"
        >just</a
      >
    </p>
    <p>
      This crate is a command line runner, written in Rust. It&apos;s a
      &ldquo;handy way to save and run project-specific commands&rdquo;.
    </p>
  </article>
  <br />
  <article>
    <h2>Site Updates and Future Plans</h2>
    <h4>2024-06-13</h4>
    <ul>
      <li>Update to Shuttle 0.46</li>
    </ul>
  </article>
</section>
{% endblock %}
