{% extends "base.html" %} {% block title %}Photography | jeff-mitchell-dev{%
endblock %} {% block content %}
<section>
  <figure>
    <img
      src="/assets/images/photography/IMG_5460.JPEG"
      alt="April 24, 2024, Back on earth [Camera: iPhone 13 Pro Max]"
    />
    <figcaption>
      April 24, 2024, Back on earth [Camera: iPhone 13 Pro Max]
    </figcaption>
  </figure>
  <br />
  <figure>
    <img
      src="/assets/images/photography/IMG_5457.JPEG"
      alt="April 24, 2024, The crane is a lot closer from the 46th storey [Camera: iPhone 13 Pro Max]"
    />
    <figcaption>
      April 24, 2024, The crane is a lot closer from the 46th storey [Camera:
      iPhone 13 Pro Max]
    </figcaption>
  </figure>
  <br />
  <figure>
    <img
      src="/assets/images/photography/IMG_5455.JPEG"
      alt="April 24, 2024, Azure I seems so short... [Camera: iPhone 13 Pro Max]"
    />
    <figcaption>
      April 24, 2024, Azure I seems so short... [Camera: iPhone 13 Pro Max]
    </figcaption>
  </figure>
  <br />
  <figure>
    <img
      src="/assets/images/photography/IMG_5454.JPEG"
      alt="April 24, 2024, View from the top...sadly, it rained today. [Camera: iPhone 13 Pro Max]"
    />
    <figcaption>
      April 24, 2024, View from the top...sadly, it rained today. [Camera:
      iPhone 13 Pro Max]
    </figcaption>
  </figure>
  <br />
  <figure>
    <img
      src="/assets/images/photography/IMG_5450.JPEG"
      alt="April 24, 2024, Going up... [Camera: iPhone 13 Pro Max]"
    />
    <figcaption>
      April 24, 2024, Going up... [Camera: iPhone 13 Pro Max]
    </figcaption>
  </figure>
  <br />
  <figure>
    <img
      src="/assets/images/photography/IMG_5448.JPEG"
      alt="April 24, 2024, About to head up to the roof of Icon [Camera: iPhone 13 Pro Max]"
    />
    <figcaption>
      April 24, 2024, About to head up to the roof of Icon [Camera: iPhone 13
      Pro Max]
    </figcaption>
  </figure>
  <br />
  <figure>
    <img
      src="/assets/images/photography/IMG_5412.jpg"
      alt="Low Tide at Boundary Bay"
    />
    <figcaption>
      April 14, 2024, Super low tide at Boundary Bay [Camera: iPhone 13 Pro Max]
    </figcaption>
  </figure>
  <br />
  <figure>
    <img src="/assets/images/photography/IMG_5409.jpg" alt="Mid April Sunset" />
    <figcaption>
      April 13, 2024, Sunset seen while docking at Tsawwassen Ferry Terminal
      [Camera: iPhone 13 Pro Max]
    </figcaption>
  </figure>
  <br />
  <figure>
    <img
      src="/assets/images/photography/IMG_5391.JPEG"
      alt="Moody clouds over the Fraser River"
    />
    <figcaption>
      April 7, 2024, Some moody afternoon clouds over the Fraser River [Camera:
      iPhone 13 Pro Max]
    </figcaption>
  </figure>
  <br />
  <figure>
    <img
      src="/assets/images/photography/IMG_5348.JPEG"
      alt="The sun rises over Burnaby"
    />
    <figcaption>
      April 4, 2024, The sun rises and creates some great cloud porn [Camera:
      iPhone 13 Pro Max]
    </figcaption>
  </figure>
  <br />
  <figure>
    <img
      src="/assets/images/photography/IMG_5225.jpg"
      alt="The breakwater at Ogden Point Pier, Victoria, BC"
    />
    <figcaption>
      March 2, 2024, The breakwater at Odgen Point Pier, Victoria, BC [Camera:
      iPhone 13 Pro Max]
    </figcaption>
  </figure>
</section>
{% endblock %}
