{% extends "base.html" %} {% block title %}Projects | jeff-mitchell-dev{%
endblock %} {% block content %}
<section>
  <h2>Projects</h2>
  <br />
  <p>
    There has been many things I've fiddled with in my journey to learn Rust.
    Here are some of the highlights:
  </p>
  <br />
  <article>
    <h3>This Site</h3>
    <p>
      I've been up and down and back and forth with a &ldquo;developer
      profile&rdquo; site over the years. What you see here is latest iteration.
      It's built with Axum and Askama and hosted on Shuttle. The GitHub repo is
      here:
      <a
        href="https://github.com/sentinel1909/jeff-mitchell-dev"
        target="_blank"
        rel="noreferrer"
        >jeff-mitchell-dev</a
      >
    </p>
  </article>
  <br />
  <article>
    <h3>Zero to Production in Rust</h3>
    <p>
      In 2022, I worked through
      <a
        href="https://www.zero2prod.com/index.html"
        target="_blank"
        rel="noreferrer"
        >Zero to Production in Rust</a
      >, by
      <a href="https://www.lpalmieri.com/" target="_blank" rel="noreferrer"
        >Luca Palmieri</a
      >
    </p>
    <p>
      Rather than just work through the book as it was, I swapped the web
      framework for Axum instead of Actix Web. For a time, I had the code
      running in production on Railway, but decided to take it down for a time
      and eventually work on missing features.
    </p>
    <p>
      The GitHub repo is here:
      <a
        href="https://github.com/sentinel1909/crusty-rustacean-api"
        target="_blank"
        rel="noreferrer"
        >Crusty Rustacean API</a
      >
    </p>
  </article>
  <br />
  <article>
    <h3>NASA Astronomy Photo of the Day</h3>
    <p>
      I made a site with the Yew Web framework. It retrieves and displays a
      daily photo &#40;or video&#41; from the NASA Astronomy Photo of the Day
      API
    </p>
    <p>
      <a
        href="https://nasaapodviewer.shuttleapp.rs"
        target="_blank"
        rel="noreferrer"
      >
        NASA APOD Viewer</a
      >
    </p>
  </article>
  <br />
  <article>
    <h3>Rivet Head API</h3>
    <p>
      In the fall of 2023 I started an API project to power a music listening
      diary. It's running now in basic form. I'm making this for myself, it
      won't be available to the public. So far, I interact with it via cURL. I'm
      intending on integrating it with this site, to power the Music page.
    </p>
    <p>
      I recently swapped the Actix Web framework for Axum. It uses Askama for
      templating, enabling responses in HTML, in order to more easily use HTMX
      on the front end.
    </p>
    <p>
      The Github repo is here:
      <a
        href="https://github.com/sentinel1909/rivet-head-api"
        target="_blank"
        rel="noreferrer"
        >Rivet Head API</a
      >
    </p>
  </article>
  <br />
  <article>
    <h3>Rivet Head CLI</h3>
    <p>
      Interacting with my Rivet Head API is tedious when using cURL. I set out
      to make a simple CLI, which cuts the typing down by quite a lot. The CLI
      app used the clap crate as well as the reqwest crate
    </p>
    <p>
      The GitHub repo is here:
      <a
        href="https://github.com/sentinel1909/rivet-head-cli"
        target="_blank"
        rel="noreferrer"
        >Rivet Head CLI</a
      >
    </p>
  </article>
  <br />
  <article>
    <h3>Shuttle Christmas Code Hunt</h3>
    <p>
      Since my coding adventure began in early 2021, I've attempted to complete
      the annual Advent of Code challenge that runs each year in December. I've
      never gotten very far. In December 2023, the folks at Shuttle decided to
      host their own incarnation, called the &ldquo;Christmas Code Hunt&rdquo;.
      I initially tried completing the challenges without a full web framework,
      using Tower and building from scratch. The water was pretty deep and I
      didn't get particularly far. I restarted using the Axum web framework, and
      maintain a repo where I can return and continue to work on the challenges.
    </p>
    <p>
      The Github repo is here:
      <a
        href="https://github.com/sentinel1909/shuttle-cch23-axum"
        target="_blank"
        rel="noreferrer"
        >Shuttle Christmas Code Hunt</a
      >
    </p>
  </article>
  <br />
  <article>
    <h3>Fun with Nom</h3>
    <p>
      While doing the Shuttle Christmas Code Hunt in December 2023, I dove
      headlong into the Nom crate. I returned for a deep dive at the beginning
      of 2024, starting a project I christened &ldquo;Fun with Nom&rdquo;. I
      created an API with one endpoint that you can send a phrase to and get the
      word count back.
    </p>
    <p>
      The Github repo is here:
      <a
        href="https://github.com/sentinel1909/fun-with-nom"
        target="_blank"
        rel="noreferrer"
        >Fun with Nom</a
      >
    </p>
  </article>
  <br />
  <p>Anything I build will always be open sourced with an MIT license.</p>
</section>
{% endblock %}
